{% extends 'base.html' %}
{% load course_custom_tags %}
{% block title %}
{% if 'create-course' in request.path %}

Create Course
{% else %}
Update course
{% endif %}
{% endblock title %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg mb-3">
     {% include 'includes/alerts.html' %}
     <div class="container mt-2">
          <div class="row">
               {% if 'create-course' in request.path %}
               {% include 'includes/dashboard_sidebar.html' %}
               {% else %}
               {% include 'includes/dashboard_sidebar_course.html' %}
               {% endif %}

               <main class="col-md-9">
                    <article class="card">

                         <header class="card-header">
                              <strong class="d-inline-block mr-3">
                                   {% if 'create-course' in request.path %}

                                   Create Course
                                   {% else %}
                                   Update course:{{course.name}}
                                   {% endif %}
                              </strong>
                         </header>
                         <div class="container form-background ">


                              {% if form.errors %}
                              {% for field in form %}
                              {% for error in field.errors %}
                              <div class="text-danger">
                                   <strong>{{ error|escape }}</strong>
                              </div>
                              {% endfor %}
                              {% endfor %}
                              {% endif %}

                              <form class="" method="POST" enctype="multipart/form-data">
                                   {% csrf_token %}

                                   <div class="p-3">

                                        <h4><b>Your Course Name</b> </h4>
                                        {{form.name}}

                                   </div>
                                   <div class="p-3">
                                        <h4><b>Description</b> </h4>
                                        {{form.description}}
                                   </div>
                                   <div class="p-3">
                                        <h4><b>Category</b> </h4>
                                        {{form.categories}}
                                   </div>

                                   <div class="p-3">
                                        <div class="row">
                                             <div class="col-md-6">

                                                  <h4><b>Price</b> </h4>
                                                  {{form.price}}
                                             </div>
                                             <div class="col-md-6">

                                                  <h4><b>Discount</b> </h4>
                                                  {{form.discount}}
                                             </div>

                                        </div>
                                   </div>
                                   <div class="p-3">
                                        <div class="row ">
                                             <div class="col-md-6">

                                                  <h4><b>Course Thumbnail </b> </h4>
                                                  {{form.thumbnail}}
                                             </div>
                                             <div class="col-md-6">

                                                  <h4><b>Resource </b> </h4>
                                                  {{form.resource}}
                                             </div>

                                        </div>
                                   </div>





                                   <div class="p-3">
                                        <h4><b>Length </b>
                                             <h6>(Hours)</h6>
                                        </h4>
                                        {{form.length}}
                                   </div>

                                   <div class="p-3">
                                        <h4><b>Tags</b> </h4>

                                        <h6>
                                             <a href="{% url 'allTags' %}">Show all tags</a>
                                        </h6>
                                        {{form.tags}}
                                   </div>

                                   <div class="p-3">
                                        <h4><b>Prerequisite </b> </h4>
                                        {{form.prerequisite}}
                                   </div>

                                   <div class="p-3">
                                        <h4><b>Learning </b> </h4>
                                        {{form.learning}}
                                   </div>
                                   <div class="p-3">
                                        <div class="">

                                             <h4 class="d-inline"><b>Active Course </b>
                                                  <h6 class="d-inline">(Default False)</h6>
                                             </h4>
                                        </div>
                                        {{form.active}}
                                   </div>

                                   {% comment %} {{form.as_p}} {% endcomment %}
                                   {% comment %} <input type="checkbox" name="active" class="form-check-input" required
                                        id="id_active"> {% endcomment %}

                                   {% if 'create-course' in request.path %}

                                   <button type="submit" class="btn btn-primary mb-3">Create Course</button>
                                   {% else %}
                                   <button type="submit" class="btn btn-primary mb-3">Update Course</button>
                                   {% endif %}
                              </form>

                         </div>
                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>


</section>


<script>
     $(document).ready(function () {

          var multipleCancelButton = new Choices('#id_tags', {
               removeItemButton: true,
               maxItemCount: 5,
               searchResultLimit: 5,
               renderChoiceLimit: 5
          });

     });
</script>


{% endblock %}