{% extends 'base.html' %}
{% load course_custom_tags %}
{% block title %}
Delete Course
{% endblock title %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg mb-3">
     {% include 'includes/alerts.html' %}
     <div class="container mt-2">
          <div class="row">
                    {% include 'includes/dashboard_sidebar_course.html' %}
                    
               <main class="col-md-9">
                    <article class="card">

                         <header class="card-header bg-danger">
                              <strong class="d-inline-block mr-3">
                                   Delete Course : {{course}}

                              </strong>
                         </header>
                         <div class="container  ">

                              <br>
                              <h2>Do you want to delete <br>
                                   Course: <b class="text-danger">{{course}}</b>
                                    </h2>
                              <br>
                              <form method="post">
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-danger mb-3">Delete</button>

                              </form>
                         </div>
                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>


</section>



{% endblock %}