{% extends 'base.html' %}
{% load course_custom_tags %}

{% block title %}
My Course
{% endblock title %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg mb-3">
     
     <div class="container mt-2">
          {% include 'includes/alerts.html' %}
          <div class="row">
               {% include 'includes/dashboard_sidebar.html' %}
               <main class="col-md-9">
                    <article class="card">

                         <header class="card-header">
                              <strong class="d-inline-block mr-3">
                                   My Courses
                              </strong>
                         </header>
                         <div class="card-body">
                              <div class="row">
                                   <div class="col-md-12">
                                        <div class="card" style="text-align:center">
                                             <div class="card-body">
                                                  <h5 class="card-title">
                                                       Total Created Course : <b>{{createdCourse}}</b>
                                                  </h5>

                                             </div>

                                        </div>

                                        <div class="card mt-5">
                                             <div class="card-body">
                                                  
                                                  <table class="table">
                                                       <thead>
                                                            <tr>

                                                                 <th scope="col">Name of the courses:</th>
                                                                 <th scope="col">Total member:</th>
                                                                 

                                                            </tr>
                                                       </thead>
                                                       <tbody>
                                                            {% for course in courses %}
                                                            <tr>
                                                                 
                                                                      
                                                                 <td>
                                                                      <a href="{% url 'updateCourse' course.slug %}">

                                                                           {{course}}
                                                                      </a>
                                                                 
                                                                 </td>
                                                                 <td>{{course.enrolledcourse_set.all.count}}</td>
                                                                 
                                                                
                                                                 
                                                            </tr>
                                                            {% endfor %}
                                                            
                                                       </tbody>
                                                  </table>

                                             </div>
                                        </div>
                                   </div>

                              </div> <!-- row.// -->
                         </div> <!-- card-body .// -->



                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>


</section>
{% endblock %}