{% extends 'base.html' %}
{% load course_custom_tags %}

{% block title %}
Submit your Assessment : {{assessment.title}}
{% endblock title %}




{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg mb-3">
     {% include 'includes/alerts.html' %}
     <div class="container mt-2">
          <div class="row">



               <main class="col-md-12">
                    <article class="card">

                         <header class="card-header">
                              <strong class="d-inline-block mr-3">
                                   Assessment:{{assessment.title}}
                              </strong>
                         </header>
                         <div class="container">
                              <div class="card-body">


                                   <form class="" method="POST" >
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <input class="btn btn-primary" type="submit" value="Submit your Answer">                                       
                                   </form>



                              </div>

                         </div>
                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>


</section>

{% endblock %}