{% extends 'base.html' %}
{% load static %}

{% block content %}
     <!-- tags -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">

     <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<section class="section-conten padding-y bg">

     
{% include 'includes/alerts.html' %}
     <div class="container">
          <div class="row mt-2">
               
               {% include 'includes/dashboard_sidebar.html' %}
               <main class="col-md-9">
                    <article class="card">
                         <header class="card-header">
                              <strong class="d-inline-block mr-3">Edit your profile</strong>

                         </header>
                         <div class="card-body">
                              
                              <div class="text-right">
                                   <img src="{% static 'images/man.png' %}" alt="Profile Picture" width="100"
                                        height="100" style="border-radius:50%;">
                              </div>
                              <div class="row ">
                                   <div class="col-md-12">
                                        
                                        <form action="{% url 'create_profile' %}" method="POST" enctype="multipart/form-data">
                                             {% csrf_token %}
                                             <div class="row p-1">
                                                  <div class="col-md-6">
                                                       <label>First Name</label>
                                                       {{profile_form.first_name}}
                                                  </div>
                                                  <div class="col-md-6">
                                                       <label>Last Name</label>
                                                       {{profile_form.last_name}}
                                                  </div>
                                             </div>

                                             <div class="row p-1">
                                                  <div class="col-md-6">
                                                       <label>Phone Number</label>
                                                       {{profile_form.phone_number}}
                                                  </div>
                                                  <div class="col-md-6">
                                                       <label>Profile Picture</label>
                                                       {{profile_form.profile_picture}}
                                                  </div>
                                             </div>
                                             <div class="row p-1">
                                                  <div class="col-md-12">
                                                       <label>Profession</label>
                                                       {{profile_form.profession}}
                                                  </div>
                                                  
                                             </div>
                                             <div class="row p-1">
                                                  <div class="col-md-6">
                                                       <label>Website</label>
                                                       {{profile_form.website}}
                                                  </div>
                                                  <div class="col-md-6">
                                                       <label>Linkedin</label>
                                                       {{profile_form.linkedin}}
                                                  </div>
                                             </div>
                                             <div class="row p-1">
                                                  <label>About</label>

                                                  <div class="col">
                                                       {{profile_form.about}}
                                                  </div>
                                             </div>



                                             <div class="row p-1">
                                                  <div class="col-md-6">
                                                       <label>Address Line 1</label>
                                                       {{profile_form.address_line_1}}
                                                  </div>
                                                  <div class="col">
                                                       <label>Address Line 2</label>
                                                       {{profile_form.address_line_2}}
                                                  </div>
                                             </div>

                                             <div class="row p-1">
                                                  <div class="col-md-4">
                                                       <label>City</label>
                                                       {{profile_form.city}}
                                                  </div>
                                                  <div class=" col-md-4">
                                                       <label>State</label>
                                                       {{profile_form.state}}
                                                  </div>
                                                  <div class=" col-md-4">
                                                       <label>Country</label>
                                                       {{profile_form.country}}
                                                  </div>
                                             </div>
                                             <input type="submit" value="Save" class=" mt-2 btn btn-primary">
                                        </form>
                                   </div>

                              </div> <!-- row.// -->
                         </div> <!-- card-body .// -->

                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>


</section>

{% endblock %}